[Unit]
Description=ipReply service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ipReply
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
